* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#quote-box {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: greenyellow;
}

#sub-container {
	height: 400px;
	width: 1200px;
	background: #fff;
	padding: 50px;
	border-radius: 10px;
	position: relative;
	text-align: center;
	color: greenyellow;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#button-container {
	display: flex;
	width: 700px;
}

#btn-twitter,
#btn-tumblr,
#new-quote {
	position: relative;
	width: 32px;
	height: 32px;
	background-color: greenyellow;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 100px;
	cursor: pointer;
	left: 300px;
	outline: none;
}

#btn-twitter {
	margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

#btn-tumblr {
	margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

#new-quote {
    width: 100px;
    height: 50px;
	margin-left: 350px;
	background: #3c65f8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	border: none;
	color: #fff;
    cursor: pointer;
}

.fa-twitter,.fa-tumblr {
    color: #fff !important;
}

#text {
    font-size: 28px;
}

#author {
	margin-top: 25px;
	font-size: 24px;
}